ody {
    margin: 0;
    background-color: rgb(109, 81, 81);
  }
  
  #start-btn, #restart-btn {
    background-color: rgb(202, 173, 27);
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  
  #game-box {
    background-color: darkgray;
    width:600px;
    height:400px;
  
    /* default settings for game box */
    overflow: hidden; /* this will prevent element from been visible outside the game box */
    position: relative; /* this will allow elements to be positioned relative to the game-box */
    user-select: none; /* this will prevent elements from being highlighted */
  
    background-image: url("../images/bg.png");
    background-position: center;
    background-size: cover;
  
    /* si el fondo se fuese a mover, seria mejor añadirlo por medio de manipulacion de DOM */
  
  }
  
  
  #game-screen, #gameover-screen {
    display: none; /* los hace desaparecer temporalmente del dom */
  }